/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
  max-width: 1440px;
  margin: auto;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 156px;
}

.logo-img {
  display: block;
  margin-left: 90px;
}

.menu {
  display: block;
  margin: 0;
  margin-right: 50px;
}

.menu-bar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.menu-item {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  margin-left: 114px;
  color: black;
}
/* HEADER */

/* SECTION PROMO */

.promo-food-app {
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-wrap: wrap; */
  background-image: url(/img/promo_bg.jpg);
  height: 619px;
  background-size: cover;
  flex-direction: column;
  justify-self: start;
}

.promo-description {
  /* margin: auto; */
  padding: 0;
  margin-top: 73px;
  margin-bottom: 6px;
  width: 1005px;
  height: 326px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.subtitle-food-app {
  margin: 0;
  margin-bottom: 7px;
  /* padding: 7px; */
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #f6f6f6;
  width: 100%;
  /* align-self: start; */
}

h1 {
  width: 939px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 7px;
  padding: 10px 33px;
}

h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #f6f6f6;
}
.promo-download {
  margin: 0;
  padding-top: 10px;
  padding-left: 89px;
  padding-right: 88px;
  padding-bottom: 48px;
}

.button-stores {
  display: flex;
  margin: 0;
  padding: 0;
  /* justify-content: center; */
  /* align-items: center; */
}

.button {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  height: 68px;
  width: 236px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  margin-left: 34px;
  border-radius: 34px;
  border: 1px solid white;
}
/* SECTION PROMO */
