/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
  max-width: 1440px;
  margin: auto;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 156px;
}

.logo-img {
  display: block;
  margin-left: 90px;
}

.menu {
  display: block;
  margin: 0;
  margin-right: 50px;
}

.menu-bar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.menu-item {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  margin-left: 114px;
  color: black;
}
/* HEADER */

/* SECTION PROMO */

#promo {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  /* align-items: center; */
}

.promo-food-app {
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-wrap: wrap; */
  background-image: url(/img/promo_bg.png);
  height: 619px;
  width: 100%;
  background-size: cover;
  flex-direction: column;
  /* justify-self: center; */
}

.promo-description {
  /* margin: auto; */
  padding: 0;
  margin-top: 73px;
  margin-bottom: 6px;
  width: 1005px;
  height: 326px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.subtitle-food-app {
  margin: 0;
  margin-bottom: 7px;
  /* padding: 7px; */
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #f6f6f6;
  /* width: 1440px; */
  /* align-self: start; */
}

h1 {
  width: 939px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 7px;
  padding: 10px 33px;
}

h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #f6f6f6;
}
.promo-download {
  margin: 0;
  padding-top: 10px;
  padding-left: 89px;
  padding-right: 88px;
  padding-bottom: 48px;
}

.button-stores {
  display: flex;
  margin: 0 auto;
  /* margin-top: 0;
  margin-bottom: 0; */
  padding: 0;
  justify-content: center;
  /* align-items: center; */
}

.button {
  /* display: block; */
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  height: 68px;
  width: 236px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  margin-left: 34px;
  border-radius: 30px;
  border: 1px solid white;
}

.promo-phones {
  position: relative;
  top: -286px;
  left: -50px;
  margin: 0 auto;
  padding: 0;
  /* display: block; */
  /* margin: auto; */
  /* height: 603px; */
  /* justify-content: center; */
  /* align-self: center; */
}

/* .promo-phones {
  width: 548px;
  height: 640px;
} */
/* SECTION PROMO */

/* SECTION WORKS */

#works {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  flex-direction: column;
}

.works-title {
  display: block;
  margin: auto;
  padding: 0;
  margin-bottom: 59px;
  /* width: 100%; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  color: #000000;
}

.works-example {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  flex-wrap: nowrap;
  height: 807px;
}

.works-img {
  height: 100%;
}

.works-text {
  align-items: space-between;
  height: 280px;
}

h2 {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
  margin: 0;
  padding: 10px 0;
  /* margin-bottom: 7px; */
}

.h2-works {
  margin-bottom: 7px;
}

h3 {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #fa4a0c;
  margin: 0;
  margin-bottom: 7px;
}

.h4-works {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #737373;
  margin: 0;
  padding: 10px 0;
}

.varieties {
  display: flex;
  flex-direction: row-reverse;
}

/* SECTOIN WORKS */

/* SECTIN DOWNLOAD */

#download {
  height: 509px;
  background-image: url(/img/download_bg.jpg);
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download-text {
  color: #ffffff;
}

.h2-download {
  margin-bottom: 10px;
}
.h4-download {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 60px;
}

.download_button-stores {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}

.download_button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  height: 60px;
  /* width: 236px; */
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  margin-left: 16px;
  border-radius: 10px;
  border: 1px solid white;
}

.button-orange {
  background-color: #fa4a0c;
  border-color: #fa4a0c;
}

.download_button-playstore {
  padding: 0 31px;
}

.download_button-appstore {
  padding: 0 45px;
}
/* SECTIN DOWNLOAD */

/* SECTION FOOTER */

#footer {
  height: 218px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social-icon {
  margin-left: 28.5px;
}

.footer-copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #5c5c5c;
}
/* SECTION FOOTER */
